# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [2]:
t=(1,2,3,4,5,6,7,8,9,10)
print(t)
print(type(t))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
<class 'tuple'>

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [3]:
print(t[0])
print(t[-1])
print(t[len(t)//2])

1
10
6

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [5]:
print(t[:3])
print(t[-3:])
print(t[2:5])

(1, 2, 3)
(8, 9, 10)
(3, 4, 5)

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [7]:
nested_tuple=((1,2,3),(4,5,6),(7,8,9))
print(nested_tuple[1][2])

6

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [8]:
t1=(1,2,3)
t2=(4,5,6)
t3=t1+t2
print(t3)

(1, 2, 3, 4, 5, 6)

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [9]:
tuple_elements=(1,2,2,2,3,4,4,4,5,5,5,6,7,8,8,9,9,9,9)
print(tuple_elements)
print(tuple_elements.count(2))
print(tuple_elements.index(4))

(1, 2, 2, 2, 3, 4, 4, 4, 5, 5, 5, 6, 7, 8, 8, 9, 9, 9, 9)
3
5

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [10]:
tup=(1,2,3,4,5)
a,b,c,d,e=tup
print(a,b,c,d,e)

1 2 3 4 5

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [11]:
lst=[1,2,3,4,5]
tup=tuple(lst)
print(tup)

(1, 2, 3, 4, 5)

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [12]:
tpl_of_tpls = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)
print(tpl_of_tpls)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [14]:
tup=(1,2,3,4,5)
print(tup)
lst=list(tup)
print(lst)
lst.append(6)
print(lst)
tup=tuple(lst)
print(tup)

(1, 2, 3, 4, 5)
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
(1, 2, 3, 4, 5, 6)

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [15]:
string="Kavya"
tuple_str=tuple(string)
print(tuple_str)
joined_tuple="".join(tuple_str)
print(joined_tuple)

('K', 'a', 'v', 'y', 'a')
Kavya

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [17]:
tuple_dict={
    (1,2):3,
    (4,5):6,
    (7,8):9
}
print(tuple_dict)

{(1, 2): 3, (4, 5): 6, (7, 8): 9}

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [18]:
for i in nested_tuple:
    for j in i:
        print(j)

1
2
3
4
5
6
7
8
9

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [19]:
set_tuple=set(tuple_elements)
print(set_tuple)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [2]:
def mini(tup):
    return min(tup)
def maxi(tup):
    return max(tup)
def sum_of_ele(tup):
    return sum(tup)

tup=(1,2,3,4,5)
print(mini(tup))
print(maxi(tup))
print(sum_of_ele(tup))

1
5
15

In [1]:
def min_in_tuple(tpl):
    return min(tpl)

def max_in_tuple(tpl):
    return max(tpl)

def sum_of_tuple(tpl):
    return sum(tpl)

sample_tpl = (1, 2, 3, 4, 5)
print(f"Minimum: {min_in_tuple(sample_tpl)}")
print(f"Maximum: {max_in_tuple(sample_tpl)}")
print(f"Sum: {sum_of_tuple(sample_tpl)}")

Minimum: 1
Maximum: 5
Sum: 15